* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  font-family: monospace;
}

.nav-items,
.dropdown {
  background: darkorange;
  list-style: none;
}

.nav-item,
.dropdown-list {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: .5s;
}

.nav-item a,
.dropdown-list a {
  color: #fff;
}

.nav-item:hover,
.nav-item:focus-within,
.dropdown-list:hover,
.dropdown-list:focus-within {
  background: red;
  cursor: pointer;
}

.nav-item:focus-within a,
.dropdown-list:focus-within a {
  outline: none;
}

.dropdown {
  background: orange;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}


.dropdown-list:hover > .dropdown,
.dropdown-list:focus-within > .dropdown,
.dropdown-list .dropdown:hover,
.dropdown-list .dropdown:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown .nav-item {
  clear: both;
  width: 100%;
}
